<main class="blue-grey">
<div class="container">
        <div class="row">
            <table class="border striped center-align">
            <caption><h4>The Shopping Cart Items</h4></caption>
                <thead>
                <tr>
                    <th>ID</th>  
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Extended</th>
                </tr>
                </thead>
                <tbody id="events">
                  {{#each products as |product|}}
                    <tr>
                        <td>{{product.id}}</td>
                        <td>{{product.product_name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.extended}}</td>
                        <td><input type="button" value="Delete" onClick="document.location.replace('/cart/delete/{{product.id}}')"></td>
                    </tr>
                  {{/each}} 
                  {{#if cartTotal}}
                  <tr>
                    <td colspan="4" class="right-align">Grand Total : </td><td>{{cartTotal}}</td>
                  </tr>
                  <tr><td colspan="5" class="right-align">
                    <input type="button" value="Checkout" onClick="document.location.replace('/cart/checkout')">
                  </td></tr>
                  {{/if}} 
                </tbody>
            </table>
    </div>
</div>
</main>
<script src="/js/cart.js"></script>