<main style="color: white">
<div class="row">
    <form id="product-form" class="col s12">
      <div class="row">
        <div class="input-field col s12" >
          <input id="product_id" type="hidden" value="{{product.id}}" class="validate">
          <div style = "margin-left: 40px" >Product Name:</div>
          <div style="background-color: aliceblue; margin-left: 40px; border-radius: 20px; padding-left: 10px" class="input-field right-align">
            <textarea  style = "margin-left: 0px; backround-color: aliceblue; border-radius: 20px" placeholder="Product name" id="product_name" cols="80" class="validate">{{product.product_name}}</textarea>
          </div>

        </div>
      </div>
      <div class="row">    
        <div class="col s12" style = "margin-left: 40px">
          Price:
          <div style="background-color: aliceblue; border-radius: 20px; padding-left: 10px" class="input-field inline">
            <input id="price" type="text" value="{{product.price}}" class="validate square-box align-right">
          </div>
          </div>
      </div>
      <div class="row">    
        <div class="col s12" style = "margin-left: 40px">
          Stock:
          <div  style="background-color: aliceblue; border-radius: 20px; padding-left: 10px" class="input-field inline">
            <input id="stock" type="text" value="{{product.stock}}" class="validate square-box align-right">
          </div>
          </div>
      </div>
      
      <div class="row">    
        <div class="col s12" style = "margin-left: 40px">
          Cost:
          <div  style="background-color: aliceblue; border-radius: 20px; padding-left: 10px" class="input-field inline">
            <input id="cost" type="text" value="{{product.cost}}" class="validate square-box align-right">
          </div>
          </div>
      </div>

    <div class="row">
      <div class="file-field input-field col s12">
          <button style= "margin-left: 30px " type="submit" id="cust_btn" class ="btn waves-effect waves-light">Submit</button>
          {{#if product.id}}
          <button id="cust_delete" class ="btn waves-effect waves-light" style="float:right;">Delete</button>
          {{/if}}
      </div>
    </div>
      
    </form>
  </div>
  </main>
  <script src="/js/product.js"></script>